.Date_card
{
   padding: 15px;
   height: 350px;
   width: 350px;
}

.day_of_the_week,.day_of_the_month
{
    color: rgba(255, 64, 112, 1);
}

.Date_card_body
{
    padding: 15px;
    height: 200px;
    width: 350px;
    background-color: rgba(255, 64, 112, 0.887);
}

.card_header,.card_body
{
    font-size: 15px;
    color: white;
}

button
{
    border: 1px solid rgb(72, 126, 193);
    color: rgb(72, 126, 193);
    padding: 10px 20px;
    margin-top: 5% ;
    border-radius: 10px;
}
