* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.calendar {
    margin: auto;

}

.days-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
}

.Date_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin: 15% auto 0;
    justify-content: space-between;
    border-radius: 10px;
    background-color: rgba(0, 128, 128, 0.8);
    padding: 20px;
    height: 400px;
    width: 350px;
}

.day_of_the_week,
.day_of_the_month {
    color: white;
    font-weight: bold;
    margin: 5px 0;
}

.day_of_the_month {
    font-size: 45px;
}

.Date_card_body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    width: 100%;
}

.Date_card_body img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.card_header {
    font-size: 18px;
    color: teal;
    font-weight: bold;
    margin-bottom: 10px;
}

.card_body {
    font-size: 14px;
    color: #666;
    margin-bottom: 15px;
}

button.Schedule_btn {
    border: none;
    background-color: rgba(0, 128, 128, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
}